/*RESET
-----------------------*/
body{
    background-color: #f9f9f9;
}
h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 45px;
}
small{
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    color: #797979;
    font-style: italic;
}
.col-md-6{
    margin-top: 160px;
}
/*SEÇÃO DE CADASTRO
-----------------------*/
form{
    margin-top: 35px;
}
form label{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
}
form .form-group:last-child{
    margin-top: 20px;
}
form input[type='submit']{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    letter-spacing: .5px;
    padding: 10px 16px;
}
.scroll{
    overflow-y: scroll;
    max-height: 570px;
}
.scroll::-webkit-scrollbar {
    width: 7px;
}
.scroll::-webkit-scrollbar-thumb {
    background: #DAD7D7;
}
.alert-danger{
    margin-top: 10px;
}
/*SEÇÃO DE DADOS CONTIDOS NO DB
-----------------------*/
table{
    border: 1px solid #dee2e6;
    margin-bottom: 0 !important;
}
table thead{
    font-size: 17px;
}
table tbody{
    font-size: 14px;
}
/*MOBILE
-------------------------*/
@media screen and (max-width: 767.9px){
    .col-md-6{
        margin-top: 30px;
    }
}